<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>SecondChanceID</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <style>

    </style>
  </head>
  <body style="background-color: rgb(95, 93, 213)">
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg bg-warning">
      <div class="container-fluid">
        <a class="navbar-brand" href="/home-buyer">SecondChanceID</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/home-buyer">Home</a>
            </li>
          </ul>
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="/logout" style="margin-right: 20px;">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- navbar -->

    <!-- table search -->

    <div class="container mt-5">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <form class="d-flex" role="search" action="/home-buyer">
            <input type="text" class="form-control me-2" name="search" placeholder="Search...">
            <button class="btn btn-warning" type="submit">Cari</button>
          </form>
        </div>
      </div>
    </div>

    <!-- table search -->

    <!-- Container  -->



    <div class="container text-center mt-5">
      <div class="row justify-content-center">

        <% data.forEach(el => { %>
          <% if (el.BuyerId) { %>
            <div class="col-md-3" style="background-color: aliceblue; margin-right: 20px; margin-bottom: 20px; border-radius: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
                        <img
               src="<%= el.image %>"
               class="img-fluid rounded"
               alt="Foto"
               style="margin-top: 10px; width: 100%; height: 200px; object-fit: cover;"
             />
             <p><%= el.Category.name %> (SOLD OUT)</p>
             <h5><%= el.name %></h5>
             <p><%= el.convert %></p>
          <% } else { %>
         <div class="col-md-3" style="background-color: aliceblue; margin-right: 20px; margin-bottom: 20px; border-radius: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); transition: transform 0.5s ease; transform: scale(1); cursor: pointer;" onmouseover="this.style.transform='scale(1.05)'" onmouseout="this.style.transform='scale(1)'">
           <a href="/seller/<%= el.id %>" style="text-decoration: none; color: inherit;">
             <img
               src="<%= el.image %>"
               class="img-fluid rounded"
               alt="Foto"
               style="margin-top: 10px; width: 100%; height: 200px; object-fit: cover;"
             />
             <p><%= el.Category.name %></p>
             <h5><%= el.name %></h5>
             <p><%= el.convert %></p>
          <% } %>
          </a>
        </div>
        <% }) %>
      </div>
    </div>

    <!-- Container  -->

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
